@media  (min-width:320px) {
        .nav-flex{ 
                display: flex;
                flex-flow: row-reverse nowrap;
                justify-content: space-between;
                height:5.5rem;
                background-color: white;
                margin: auto;
                align-items: center;
        }
        
        .help{
                display:flex;
                flex-direction: row-reverse;
                justify-content: center;
        }
          
        .help ul {
                list-style: none;
                color:rgb(54, 53, 53);
                margin: auto;
        }

        ul.help { 
                width:3.3rem;
        }

        .dash.dash{
                width:15px;
                text-align: right;
        }

        .login{
                display:flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                width:10.9rem;
                align-self: flex-start;
                margin: 0;
                padding: 0;
        }
        
        .login li{
                width:6.3rem;
                text-align: center;
        }
        
        .horizontal-line {
                height: 3px;
                background-image: linear-gradient(to right, #ee1071, #df0081, #cb0092, #b000a2, #8c05b1);
        }

        .logo-reyhoon{
                height:3.5rem;
                width:12rem;
                margin: 0 1.5rem;
        }

        .container-width{
                width:100% ;
        }
        .nav-flex a{
                text-decoration: none;
                color: #4a4a4a;
                font-size: 1.4rem
        }
        .nav-flex a:hover{
                color:#cb0092;
                cursor: pointer;
        }
}


@media (min-width:1281px){
        .container-width{
                width:1200px ;
            }
}