@media  (min-width:320px) {

.any-question{
    text-align: center;
      font-size: 2rem;
      color:#4a4a4a;
      font-weight: normal;
      margin: 30px auto !important;
}
  
.any-question button{
      font-size:1.05em;
      background-color: #ffc300;
      color: white;
      border: none;
      width: 16.3rem;
  
}
}