@import "./font.css";

body,html {
    width: 100%;
    direction: rtl;
    font-size: 62.5%;  /*10px*/
    height: 100%;
    margin: 0;
    font-family: "Shabnam", serif;
    background-color: rgb(249, 249, 253);
    overflow-x: hidden;
  }
  @media  (min-width:320px) {
   
    section{
      margin: 90px auto !important;
    }
                
    body{
        font-size: 1.4rem;
    }
    
  }