@media  (min-width:320px){
    .which-food{
        margin: 60px  auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .which-food *{
        text-align: center;
        margin: 15px 0;
    }

    .which-food h1{
        font-size: 2rem;
        font-weight: bold;
    }
    .which-food h2{
        font-size: 1.5rem;
        font-weight: normal;
    }
}
@media   (min-width:769px) {
    .which-food *{
        margin: 7px 0;
    }
}